.my-container{
 
    margin-top: 10%;

}

.my-col{
    text-align: center;
}

#foto{

    width: 200px;
    height: 200px;

    background-color: #ddd;
    border-radius: 100%;
    object-fit: cover;

    text-align: center;

}

.card-header{
    text-align: center;
    font-size: 40px;

}

.my-fieldset{
    padding: 15px;
}

label{
    text-align: left;
}

#messages{
    margin-top: 5px;
    text-align: left;
}

#buttons{
    margin-top: 63px;
}