.my-container{
 
    margin-top: 50px;

}

.my-col{
    text-align: center;

}

#foto{

    width: 200px;
    height: 200px;

    background-color: #ddd;
    border-radius: 100%;
    object-fit: cover;

    text-align: center;

}

.card-header{
    text-align: center;
    font-size: 40px;

}

.my-fieldset{
    padding: 15px;
}

label{
    text-align: left;
}