<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title> TinderIN </title>
    <link rel="shortcut icon" href="../img/logo.png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/home.css">

</head>
<body>

    <div class="container my-container">

        <div class="row my-row">

            <div class="col-md-6 my-col">

                <div class="card  mb-3" style="max-width: 40rem;"> 

                    <div class="card-header"> <img src="../img/rocket.png" id="foto" alt="logo"> </div>
                        
                    <div class="card-body">
                        <h2 class="card-title">Enterprise Room</h2>
                        <a href="../chatEnterprise"> <button class="btn btn-outline-dark text-center">Enter</button> </a>
                    </div>

                </div>

            </div>

            <div class="col-md-6 my-col">

                    <div class="card  mb-3" style="max-width: 40rem;"> 
    
                        <div class="card-header"> <img src="../img/gamepad.png" id="foto" alt="logo"> </div>
                            
                        <div class="card-body">
                            <h2 class="card-title">Programmers Room</h2>
                            <a href="../chatProgrammers"> <button class="btn btn-outline-dark text-center">Enter</button> </a>

                        </div>
    
                    </div>
        
                </div>

        </div>

        <a href="../"> <button class="btn btn-outline-dark text-center">Back</button> </a>

        <footer class="footer">
            <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </footer>

    </div>
</body>
</html>